<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    
    <title> Nest.Js </title>
    
    <style>
        body    { padding-top:50px; }
    </style>
    
</head>
<body>
    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    Nest Js
                </a>
            </div>
            
        </div>
    </nav>
    
    <div class="container">
        <main>
            <div class="jumbotron">
                <h3>Comments</h3>
                <ul>
                    <% comments.forEach(function(comment) { %>
                        <li><%= comment.message %></li>
                        <% }); %>
                    </ul>
                </div>
            </main>

            <p id="sample"></p>
            
            <div class="row">
                <div class="col-md-8">
                    <form method="post" action="/comments">
                        <div class="form-group">
                            <input type="text" class="form-control" name="message" placeholder="Type your comments">
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </body>
    </html>